@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}
/* 
html::-webkit-scrollbar {
  display: none;
} */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  box-sizing: border-box;
}

/* .navmbt {
  margin-bottom: 200px !important;
} */
.spinn {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
}
.loader {
  position: relative;
  top: 45vh;
}

.loader span {
  position: absolute;
  color: rgba(0, 0, 254, 0.913);
  transform: translate(-50%, -50%);
  font-size: 35px;
  margin-left: 50%;
  letter-spacing: 5px;
}

.loader span:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.3px rgba(0, 0, 254, 0.913);
}

.loader span:nth-child(2) {
  color: rgba(55, 55, 244, 0.603);
  -webkit-text-stroke: 1px rgba(0, 0, 254, 0.913);
  animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
.swiperSlideDiv {
  position: relative;
  width: 100%;
  height: 100%;
}
.passwordBox {
  position: relative;
}
.visible {
  position: absolute;
  top: 12px;
  right: 4px;
  cursor: pointer;
  z-index: 11;
}
.top-margins {
  margin-top: 10%;
}
.navbarMob {
  display: none;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  padding: 10px;
  padding-left: 10%;
  background: rgba(55, 55, 244, 0.603);
  z-index: 100;
}
.nav_list {
  width: 50%;
  margin-right: 10%;
}
.nav_list_mobile {
  display: none;
}
.nav_list .nav_list_sys {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 16px;
  color: #f4f4f5;
}
.nav__logo {
  width: 120px;
  height: 60px;
}
@media (max-width: 640px) {
  .navbarMob {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 65px;
    background-color: #fff;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbarNav {
    width: 100%;
    margin-top: 0.75rem;
    overflow-y: hidden;
  }

  .navbarListItems {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .navbarListItem {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbarListItemName,
  .navbarListItemNameActive {
    margin-top: 0.25rem;
    font-size: 14px;
    font-weight: 600;
    color: #8f8f8f;
  }
  .navbarListItemNameActive {
    color: #2c2c2c;
  }
  .top-margins {
    margin: 30% 0 10%;
  }
  .leftSide {
    position: relative;
    top: -35px;
    right: -70px !important;
  }
  .nav_list_mobile {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    height: 50px;
    background: #e6e6ea;
    width: 100vw;
    border-radius: 0 0 5px 5px;
  }
  .nav_list_mobile ul li {
    cursor: pointer;
    padding: 10px 0;
    color: blue;
    margin-top: 0.75rem;
  }
  .nav_list .nav_list_sys {
    display: none;
  }
}
